<%- include ../partials/layout.ejs %>

<h1>Sign up for Vinyl</h1>

<form method="post" action="/signup" class="new-user-form">
  <pre class="new-user-form-errors"></pre>
  <label>
    <span>Name:</span>
    <input type="text" name="name" />
  </label>
  <label>
    <span>Email address:</span>
    <input type="email" name="email" />
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="password" />
  </label>
  <input type="submit" value="Signup">
</form>

<a href='/login'>Login</a>

<%- include ../partials/footer.ejs %>
